<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <div class="container">
        <div class="titleBox">
            <h1>*** Checkerboard ***</h1>
        </div>
        <div class="chessboard">
            {% for each_row in range(x): %}
            {% if each_row % 2 == 1: %}
                <div class="row">
                    {% for each_column in range(y): %}
                        <div class="col box odd"></div>
                    {% endfor %}
                </div>
            {% elif each_row % 2 == 0: %}
                <div class="row">
                    {% for each_column in range(y): %}
                        <div class="col box even"></div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>